<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doge Card</title>

        <link rel="shortcut icon" href="/img/favicon.ico">

        <link rel="stylesheet" href="/css/much_stylish.css">

        <!-- Wow such google web analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-47798909-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div id="wow so container">
            <a href="/">
                <h1 class="such header very flash">DOGE CARD</h1>
            </a>

            {{{body}}}

            <div id="very push"><!--Wow such sticky footer hackery--></div>
        </div>

        <footer>
            wow <a href="https://github.com/rhansby/doge-card/" target="_blank">github</a>
            <br>
            such <a href="http://www.dogeweather.com/" target="_blank">inspired</a>
            <br>
            <span id="dogecoin-click">tip dogecoinz</span>
            <span id="dogecoin-address">very address: <small>D85t3GuYUDQ4amrfCLyz2XVNZotrD9HnFc</small></span>
            <br>
        </footer>

        <script src="/js/very_script.js"></script>
    </body>
</html>
