<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doge Card</title>

        <link rel="shortcut icon" href="/img/favicon.ico">

        <link rel="stylesheet" href="/css/much_stylish.css">

        <!-- Wow such google web analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-47798909-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>

    <body>
        <!-- Wow such gross fb hack -->
        <div id="fb-root"></div>

        <div id="wow so container">
            <div class="wow such likes">
                <!-- Wow such iframe. Such BARFFFF -->
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdoge-card.com&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=566166186798033" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
                <!-- Very tweet button -->
                <div><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://doge-card.com" data-text="Wow such greeting cards at" data-hashtags="dogecard, doge, card, shibe, wow">Tweet</a></div>
            </div>

            <a href="/">
                <h1 class="such header very flash">DOGE CARD</h1>
            </a>

            {{{body}}}

            <div id="very push"><!--Wow such sticky footer hackery--></div>
        </div>

        <footer>
            wow <a href="https://github.com/rhansby/doge-card/" target="_blank">github</a>
            <br>
            such <a href="http://www.dogeweather.com/" target="_blank">inspired</a>
            <br>
            <span id="dogecoin-click">tip dogecoinz</span>
            <span id="dogecoin-address">very address: <small>D85t3GuYUDQ4amrfCLyz2XVNZotrD9HnFc</small></span>
            <br>
        </footer>

        <script src="/js/very_script.js"></script>

        <!-- Wow very tweet button script -->
        <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </body>
</html>
