<form action="" method="POST">
    <label for="theme">Theme:</label>
    <select name="theme" id="theme">
      <option value="valentine">Very Valentine's Day</option>
    </select>
    <br>

    <label for="to">To:</label>
    <input type="text" name="to" id="to">
    <br>

    <label for="from">From:</label>
    <input type="text" name="from" id="from">
    <br>

    <label for="message">Message:</label>
    <br>
    <textarea name="message" id="message"></textarea>
    <br>

    <input type="submit" value="Very Create">
</form>
