<h2 class="very sub-header">Wow Create Such Card</h2>

<form action="" method="POST">
    <label for="theme">Theme:</label>
    <select name="theme" id="theme" required>
        <option value="birthday">So Happy Birfday</option>
        <option value="general">Such Generic Greeting Card</option>
        <option value="valentine">Very Valentine's Day</option>
    </select>
    <br>

    <label for="to">To:</label>
    <input type="text" name="to" id="to" required>
    <br>

    <label for="from">From:</label>
    <input type="text" name="from" id="from" required>
    <br>

    <label for="message">Message:</label>
    <br>
    <textarea name="message" id="message" rows="8" cols="50" required></textarea>
    <br>

    <input type="submit" class="wow btn such create" value="Very Create" required>
</form>
