<h1 class="such header very flash">DOGE CARD</h1>
<h2 class="very sub-header many rotate">wow such greeting</h2>

<div class="such doge very rotate"></div>

<div class="many buttons">
    <button type="button" class="create">Create such Card</button>
    <button type="button" class="view">View many Cards</button>
</div>
