<h1 class="such header very flash">DOGE CARD</h1>
<h2 class="very sub-header many rotate">wow such greeting</h2>

<div class="such doge very rotate"></div>

<div class="many buttons">
    <a class="wow btn such create" href="/create">Create such Card</a>
    <a class="very btn very view" href="/view">View many Cards</a>
</div>
