html, body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    background-color: blanchedalmond;
}

body, button {
    font-family: 'Comic Sans MS', 'Comic Sans', Chalkboard, Arial, sans-serif;
}

a {
    text-decoration: none;
}
    a:visited {
        color: blue;
    }

#container {
    /* Wow, very sticky footer styling: */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
}

h1, h2 {
    text-align: center;
    text-shadow: #111 2px 1px 1px;
}

.header {
    color: cyan;
    font-size: 100pt;
    margin-top: 20px;
    margin-bottom: 5px;
}

.sub-header {
    color: magenta;
    font-size: 26pt;
    margin-top: 0;
}

.doge {
    background-image: url(/img/doge.png);
    background-repeat: no-repeat;
    background-size: 350px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
    .doge-card {
        position: absolute;
        position: absolute;
        right: -85px;
        top: -50px;
    }
        .prop-valentine {
            background-image: url(/img/prop-valentine.png);
            background-repeat: no-repeat;
            background-size: 200px;
            width: 200px;
            height: 200px;
            position: absolute;
            top: 93px;
            left: 23px;
            -webkit-transform: rotate(15deg);
               -moz-transform: rotate(15deg);
                    transform: rotate(15deg);
        }

.buttons {
    text-align: center;
}

.btn, button {
    border: 1px solid transparent;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16pt;
    padding: 10px 16px;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.create {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.view {
    background-color: #428bca;
    border-color: #357ebd;
}

/* Wow, last bit of sticky footer styling: */
footer, #push {
    height: 70px;
}

footer {
    font-size: 10pt;
    text-align: right;
}

#dogecoin-click {
    color: blue;
    cursor: pointer;
}
#dogecoin-address {
    display: none;
}

.card {
    color: red;
    background-image: url(/img/valentine.jpg);
    -webkit-box-shadow: 3px 3px 12px 0 #555;
       -moz-box-shadow: 3px 3px 12px 0 #555;
            box-shadow: 3px 3px 12px 0 #555;
    position: relative;
}
    .card-single {
        margin: 60px auto;
        width: 1000px;
        height: 600px;
        -webkit-transform: rotate(-2deg);
           -moz-transform: rotate(-2deg);
                transform: rotate(-2deg);
    }
    .card-header {
        font-size: 36pt;
        position: absolute;
        top: 50px;
        left: 265px;
    }
        .card-from {
            margin-left: 50px;
        }
    .card-body {
        font-size: 38pt;
        overflow-y: hidden;
        position: absolute;
        top: 260px;
        left: 50px;
        width: 700px;
        height: 300px;
    }

.rotate {
    -webkit-animation: rotate 3s linear infinite;
       -moz-animation: rotate 3s linear infinite;
            animation: rotate 3s linear infinite;
}
@-webkit-keyframes rotate { 100% { -webkit-transform: rotateY(360deg); } }
   @-moz-keyframes rotate { 100% {    -moz-transform: rotateY(360deg); } }
        @keyframes rotate { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }
