html, body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    background-color: blanchedalmond;
}

body, button {
    font-family: 'Comic Sans MS', 'Comic Sans', Chalkboard, Arial, sans-serif;
}

a {
    text-decoration: none;
}
    a:visited {
        color: blue;
    }

#container {
    /* Wow, very sticky footer styling: */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
}

h1, h2 {
    text-align: center;
    text-shadow: #111 2px 1px 1px;
}

.header {
    color: cyan;
    font-size: 60pt;
    margin-top: 20px;
    margin-bottom: 5px;
}

.sub-header {
    color: magenta;
    font-size: 26pt;
    margin-top: 0;
}

.doge {
    background-image: url(/img/doge.png);
    background-repeat: no-repeat;
    background-size: 350px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
    .doge-card {
        position: absolute;
        right: -85px;
        top: -50px;
    }
        .prop-valentine {
            background-image: url(/img/prop-valentine.png);
            background-repeat: no-repeat;
            background-size: 200px;
            width: 200px;
            height: 200px;
            position: absolute;
            top: 93px;
            left: 23px;
            -webkit-transform: rotate(15deg);
               -moz-transform: rotate(15deg);
                    transform: rotate(15deg);
        }

.buttons {
    text-align: center;
}

.btn, button {
    border: 1px solid transparent;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16pt;
    padding: 10px 16px;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}
    a.btn:visited {
        color: #fff;
    }

.create {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.view {
    background-color: #428bca;
    border-color: #357ebd;
}

/* Wow, last bit of sticky footer styling: */
footer, #push {
    height: 70px;
}

footer {
    font-size: 10pt;
    text-align: right;
}

#dogecoin-click {
    color: blue;
    cursor: pointer;
}
#dogecoin-address {
    display: none;
}

form {
    margin: auto;
    width: 50%;
}

.card {
    color: red;
    background-image: url(/img/valentine.jpg);
    -webkit-box-shadow: 3px 3px 12px 0 #555;
       -moz-box-shadow: 3px 3px 12px 0 #555;
            box-shadow: 3px 3px 12px 0 #555;
    position: relative;
}
    .card-single {
        margin: 60px auto;
        width: 1000px;
        height: 600px;
        -webkit-transform: rotate(-2deg);
           -moz-transform: rotate(-2deg);
                transform: rotate(-2deg);
    }
    .card-header {
        font-size: 36pt;
        position: absolute;
        top: 50px;
        left: 265px;
    }
        .card-from {
            margin-left: 50px;
        }
    .card-body {
        font-size: 38pt;
        overflow-y: hidden;
        position: absolute;
        top: 260px;
        left: 50px;
        width: 700px;
        height: 300px;
    }

.rotate {
    -webkit-animation: rotate 3s linear infinite;
       -moz-animation: rotate 3s linear infinite;
            animation: rotate 3s linear infinite;
}
@-webkit-keyframes rotate { 100% { -webkit-transform: rotateY(360deg); } }
   @-moz-keyframes rotate { 100% {    -moz-transform: rotateY(360deg); } }
        @keyframes rotate { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }

@media (max-width: 1210px) {
    /* Wow, all numbers are 0.8 of original */
    /* TODO: Consider using a preprocessor */
    .card-single {
        background-size: 800px 480px;
        width: 800px;
        height: 480px;
    }
        .card-header {
            font-size: 29pt;
            top: 40px;
            left: 212px;
        }
            .card-from {
                margin-left: 40px;
            }
        .card-body {
            font-size: 30pt;
            top: 208px;
            left: 40px;
            width: 560px;
            height: 240px;
        }
    .doge {
        background-size: 280px;
        width: 320px;
        height: 320px;
    }
        .doge-card {
            right: -68px;
            top: -40px;
        }
            .prop-valentine {
                background-size: 160px;
                width: 160px;
                height: 160px;
                top: 74px;
                left: 18px;
            }
}

@media (max-width: 1010px) {
    /* Wow, all numbers are 0.625 of above, 0.5 of original */
    .card-single {
        background-size: 500px 300px;
        width: 500px;
        height: 300px;
    }
        .card-header {
            font-size: 18pt;
            top: 25px;
            left: 133px;
        }
            .card-from {
                margin-left: 25px;
            }
        .card-body {
            font-size: 19pt;
            top: 130px;
            left: 25px;
            width: 350px;
            height: 150px;
        }
    .doge {
        background-size: 175px;
        width: 200px;
        height: 200px;
    }
        .doge-card {
            right: -43px;
            top: -25px;
        }
            .prop-valentine {
                background-size: 100px;
                width: 100px;
                height: 100px;
                top: 46px;
                left: 11px;
            }
}

@media (max-width: 610px) {
    .card {
        background-image: url(/img/valentine-portrait.jpg);
    }
        .card-single {
            background-size: 300px 500px;
            margin: 60px auto;
            width: 300px;
            height: 500px;
        }
        .card-header {
            top: 120px;
            left: 25px;
        }
            .card-from {
                margin-left: 25px;
            }
        .card-body {
            top: 220px;
            left: 25px;
            width: 250px;
            height: 250px;
        }
}

@media (max-width: 450px) {
    body {
        margin: 0;
    }

    .header {
        font-size: 30pt;
    }
    .sub-header {
        font-size: 16pt;
    }
    .btn {
        display: block;
        margin: 10px auto;
        width: 180px;
    }
    footer {
        text-align: center;
        margin-top: 50px;
    }

    .card-single {
        -webkit-transform: rotate(0);
           -moz-transform: rotate(0);
                transform: rotate(0);
    }
}

@media (max-width: 400px) {
    body {
        overflow-x: hidden; /* Wow such disgusting hack */
    }
}
